---
import Layout from '../layouts/Layout.astro';
import BetterWordsPost from '../components/BetterWordsPost.astro';
---

<Layout title="Siembra">
	<main class="space-y-40 mb-40">
		<BetterWordsPost/>
	</main>
</Layout>