---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-2 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Dayana Contreras</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Founder & CEO</p>
          </div>
        </div>
        <p class="mt-8">
          From the inception, I approached Jason with a vision, a dream of creating something innovative and impactful. 
          Without hesitation, Jason not only embraced the challenge but took on a leading role in creating concepts into tangible realities.
          Jason’s contributions go beyond coding, he played a pivotal role in our design, marketing, and launch process. 
          As an early stage startup, having someone as skilled, committed, and versatile as Jason is a life saver. 
          His contributions are instrumental, and his role is undeniably vital to the growth of our product. 

        </p>
      </div>

      <!-- Testimonail 2 -->
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/larry4.png" alt="user avatar" width="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Larry White Jr.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Entrepreneur & CEO</p>
          </div>
        </div>
        <p class="mt-8">Working with Jason is one of the best decisions we made. 
          He is super attentive, determined to bring your vision to life, and has an unwavering commitment to his craft! 
          When I think of the word specialist the first name that comes to mind is Jason! 
          I would recommend his service to anyone looking into building an app.
        </p>
      </div>
    

    </div>
  </Container>
</div>