---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/C.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Software development agency focusing on high-quality mobile apps built for iOS. Fast-paced, vibrant, tailored for your usecase." />
        <title>Creativ Studios</title>

        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
        <script>
            import '../load-gallery.js';
        </script>
    </body>
</html>
<style>
    html {
        font-family: Urbanist, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        margin: 0;
    }
</style>
